@media only screen and (max-width: 480px) {
    .desktop-only {
        display: none;
    }

    .navbar-brand b {
        font-size: 65%;
    }

    .navbar-toggle {
        margin-top: 22px;
    }

    /* .navbar-inverse .navbar-nav > li > a {
        color: #858585;
    } */

    .header .navbar {
        background: #fff;
        opacity: 0.8;
    }
}

@media only screen and (max-width: 768px) {
    .carousel-control.right,
    .carousel-control.left {
        font-size: 30px;
    }

    #text-carousel {
        padding: 0px 50px;
        min-height: 120px;
        margin-top: 40px;
    }
}

@media only screen and (max-width: 992px) {
}
