/*--
Author: Tyler Jaquish
--*/

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,600);
@import url(http://fonts.googleapis.com/css?family=Oswald:400,700);
* {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
}
body {
	height: 100%;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	line-height: 1.7;
	color: #666666;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
	background: #fff;
	transition: all 0.3s linear;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
}
::selection {
	color: #fff;
	background: #005f8d;
}

::-moz-selection {
 color: #fff;
 background: #005f8d;
}
p {
	color: #858585;
	margin: 0 0 1em !important;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Oswald', sans-serif;
}
.fitImage {
	max-width: 100%;
	vertical-align: middle;
	display: inline-block;
}
.animated {
	/* -webkit-animation-duration: 1s; */
	animation-duration: 1s;
	-webkit-animation-delay: 0s;
	animation-delay: 0s;
}
.mcbook {
	opacity: 0;
}
.show {
	opacity: 1;
}
.pDark p {
	color: #6D6D6D;
}
#services .circle:hover {
	transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-o-transform: rotate(360deg);
	-ms-transform: rotateY(360deg);
	transition: all 0.2s linear 0s;
	-webkit-transition: all 0.2s linear 0s;
	-moz-transition: all 0.2s linear 0s;
	-o-transition: all 0.2s linear 0s;
}
.pDark h3 {
	color: #BEBEBE;
}
.btn {
	background: #005f8d;
}
.btn:hover {
	background: #145AC4;
}
.btn, .form-control, .team-socials i {
	border-radius: 5px !important;
}
.form-group {
	margin: 0 auto;
	margin-bottom: 15px;
	width: 95%;
}
.form-control {
	border: none;
	padding: 22px 4px;
	outline: none;
	color: #5A5A5A;
	margin: 0;
	width: 210px;
	max-width: 100%;
	display: block;
	margin-bottom: 20px;
	background: #fff;
	font-size: inherit;
	border-radius: 0px !important;
	width: 99%;
}
.button-outline {
	-webkit-font-smoothing: antialiased;
	display: inline-block;
	vertical-align: middle;
	zoom: 1;
	color: #fff;
	padding: 10px 25px;
	border: 2px solid #fff;
	border-radius: 0px;
	font-size: 16px;
	font-weight: 400;
	background: rgba(255,255,255,0.15);
}
.button-outline:hover {
	color: #fff;
	background: rgba(255,255,255,0.35);
}
a {
	color: #005f8d;
	text-decoration: none;
	text-shadow: none;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}
a:hover {
	color: #000;
	text-decoration: none;
}
.btn {
	border: 0px;
	border-radius: 0px;
}
.btn-primary {
	background: #005f8d;
}
.form-control {
	border-radius: 0px;
}
.mrgn30 {
	margin: 30px 0;
}
.copyright {
	color: #6D6D6D;
	background: #161616;
	padding: 20px 0;
}
#top {
	position: relative;
}
.topHome {
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 5;
	color: #768d87;
}
.topHome:hover {
	color: #768d87;
}
/* Header 
----------------------------------------------*/
#section-top {
	background: #4E4E4E;
}
#section-top ul {
	margin: 0;
	padding: 0;
	list-style: none;
	float: right;
}
#section-top ul li {
	display: inline-block;
}
#section-top ul li a {
	border-radius: 2px;
	display: inline-block;
	height: 35px;
	line-height: 35px;
	width: 35px;
	text-align: center;
}
#section-top .region-top-first {
	float: right;
}
.header {
	position: fixed;
	width: 100%;
	z-index: 50;
	border-radius: 0;
	top: 0px;
	background: rgba(255, 255, 255, 0.70);
}
.addBg {
	background: #00a1cb;
	transition: all 0.3s linear;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
}
.navbar-inverse {
	background: transparent;
}
.navbar-inverse .navbar-toggle {
	background-color: #005f8d;
}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
	background: #005f8d;
}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
	color: #00a1cb;
}
.addBg .navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
	color: #005f8d;
}
.navbar-inverse .navbar-toggle:hover .icon-bar {
	background: #fff;
}

.hero-text h1 {
	color: #fff !important;
}
.hero-text {
	color: #000;
	width: 83%;
	text-align: center;
	margin: 40% auto 24px auto;
	font-family: 'Oswald', sans-serif;
}
.hero-text p {
	font-family: 'Oswald', sans-serif;
	padding: 0;
	margin: 12px 8% 0;
	text-shadow: 0px 1px 2px rgba(0, 0, 0, .2);
}
/*.carousel-inner*/
#myCarousel {
	margin-top: 50px;
	border-bottom: 4px solid #005f8d;
}
.carousel-inner > .item {
}
.carousel-caption {
	padding: 0px;
	bottom: 40%;
	display: block;
	height: 80px;
}
.carousel-caption h1 {
	font-size: 45px;
	padding: 10px 15px;
	background: rgba(128, 180, 33, 0.80);
	color: #FFFFFF;
	text-shadow: none;
	font-weight: bold;
	display: inline-block;
}
.carousel-caption h3 {
	font-size: 30px;
	color: #1C4604;
	font-weight: bold;
	text-shadow: #fff 1px 1px 1px;
}
.actionPanel {
	padding: 25px 0;
	background: #005f8d;
}
.actionPanel h3 {
	margin: 0px;
}
.circle {
	background: #fff;
	height: 90px;
	width: 90px;
	border-radius: 95px;
	color: #005f8d;
	line-height: 90px !important;
}
#section-strapline {
	background: #f00bfff;
	line-height: 42px;
	clear: both;
}
/*----Nav ----*/
.header .navbar-brand {
	float: left;
	padding: 15px 15px;
	line-height: 24px;
	height: 30px;/*color:#005f8d;*/
}
.navbar-brand b {
	color: #00a1cb;
	font-weight: 100;
	font-size: 75%;
}
.addBg .navbar-brand b {
	color: #fff;
}
.navbar-brand b i {
	color: #fff;
	font-style: normal;
}
.logo {
	font-size: 2.2em;
	text-shadow: none;
	margin: 8px 0 0 0;
}
.logo:hover {
	color: #5A5A5A;
}
.header .navbar {
	margin: 0;
	background: transparent;
	border: 0;
}
.navbar-inverse .navbar-nav > li > a {
	color: #858585;
	font-size: 1.2em;
	line-height: normal;
	margin: 17px;
	padding: 6px 0px !important;
	border-radius: 5px;
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
	text-transform: uppercase;
}
.addBg .navbar-inverse .navbar-nav > li > a {
	color: #fff;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
	color: #005f8d;
	background: none;
	border-radius: 0px;
}
.addBg .navbar-inverse .navbar-nav > .active > a, .addBg .navbar-inverse .navbar-nav > .active > a:hover, .addBg .navbar-inverse .navbar-nav > .active > a:focus {
	color: #00486B;
	background: none;
	border-radius: 0px;
}

.header .navbar-nav > li > a {
	padding: 25px 18px;
}
.page-section {
	width: 100%;
	height: auto;
	padding: 35px 0;
}
.noPadd {
	padding: 0;
}
.page-section h1 {
	font-size: 3.5em;
	margin: 90px 0 30px;
	line-height: 1.2em;
}
.page-section h1 span {
	font-weight: 200;
}
.page-section h2 {
	color: #005f8d;
}
.page-section p {
	font-size: 1.1em;
	line-height: 1.6em;
}
.darkBg {
	background: #000;
}
.darkBg .fa {
	color: #005f8d;
}
/*--- Banner ----*/
.banner-container {
	width: 100%;
	position: relative;
	padding: 0px;
	box-shadow: 0px 0px 1px rgba(0,0,0,0.4);
	/*background: url("../images/banner-bg.jpg") no-repeat;*/
	background-size: 100% 100%;
	background-size: cover;
	position: relative;
	border-bottom: 2px #005f8d solid;
}
.banner-container > img {
	width: 100%;
}
.banner-content {
	position: absolute;
	z-index: 3;
	top: 0px;
	left: 0px;
	right: 0px;
}
.hero-text h1 {
	color: #fff;
	font-size: 6.5em;
	margin: 2% 0 30px;
	line-height: 1.5em;
	font-family: 'Roboto', sans-serif;
	text-shadow: 1px 1px 1px #8F8F8F;
	font-weight: 900;
	font-size: 48px;
	margin: 37px 0 13px;
	text-transform: uppercase;
	text-shadow: 0 1px 1px rgba(124, 124, 124, 1);
	background: rgba(0, 161, 203, 0.53);
	display: inline-block;
	/* float: left; */
	margin: 0 auto;
	text-align: center;
	padding: 15px 17px;
}
.hero-text p {
	font-size: 1.6em;
	color: #fff;
	font-style: normal;
	font-family: 'Roboto', sans-serif;
	text-shadow: 1px 1px 1px #8F8F8F;
}
.arrow-link {
	display: block;
	font-size: 32px;
	margin-top: 20px;
	height: 60px;
	line-height: 60px;
	overflow: hidden;
	text-align: center;
	vertical-align: top;
	width: 60px;
	margin: 0 auto;
}
a.arrow-link {
	color: #005f8d;
}
a.arrow-link:hover {
	color: #005f8d;
}
.colord {
	background: #005f8d;
}
.colord p {
	color: #DAE0FF;
}
.colord h3 {
	color: #fff;
}
.c1 {
	background: rgba(0, 161, 203, 0.64);
	padding: 15px;
}
.c2 {
	background: rgba(0, 161, 203, 0.85);
	padding: 15px;
}
.c1:hover, .c2:hover {
	background: rgba(0, 43, 54, 0.89);
	cursor: pointer;
}
.hero-button {
	text-align: center;
	background: rgba(255, 255, 255, 0.36);
	border: 1px solid #fff;
	padding: 20px;
	display: inline-block;
	margin: 0 auto;
	clear: left;
	width: auto;
}
.hero-img {
	text-align: center;
	margin: 124px auto 24px auto;
}
.da-slider {
	margin: 0 auto !important;
}
.heading h2 {
	color: #222;
}
#contactUs .heading h2 {
	color: #fff;
}
.sub-heading {
	padding: 15px 0;
}
.sub-heading h2 {
	font-size: 18px;
	margin: 15px 0 8px !important;
}
.sub-heading p {
	color: #5A5A5A;
}
.heading {
	padding: 3px 10px;
	padding-bottom: 15px;
	margin-bottom: 30px;
	display: block;
}
.heading p {
	font-size: 1.2em;
}
.pdingBtm30 {
	padding-bottom: 30px;
}
.da-arrows span:after {
	width: 25px;
	height: 37px;
}
.da-arrows span {
	position: absolute;
	top: 50%;
	height: 34px;
	width: 34px;
	border-radius: 60px;
	background: none;
}
.da-dots span {
	display: inline-block;
	position: relative;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	background: rgba(255, 255, 255, 0.13);
	margin: 3px;
	cursor: pointer;
	box-shadow: 1px 1px 1px rgba(0,0,0,0.1) inset, 1px 1px 1px rgba(255,255,255,0.1);
	border: 2px solid #005f8d;
}
img, video, embed, object {
	max-width: 100%;
	height: auto;
}
/* Features
    -------------------------------------------------*/
#aboutUs {
	background: #005f8d;
	color: #fff;
	padding-top: 50px;
	padding-bottom: 25px;
	overflow: hidden;
}

#aboutUs p {
	color: #fff
}

.move-down30 {
	margin-top: 30px;
}

.row .six {
	width: 50%;
}
/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }


/*  GROUPING  */
.group:before,
.group:after {
	content:"";
	display:table;
}
.group:after {
	clear:both;
}
.group {
    zoom:1; /* For IE 6/7 */
}

/*  GRID OF THREE  */
.span_3_of_3 {
	width: 100%;
}
.span_2_of_3 {
	width: 66.1%;
}
.span_1_of_3 {
	width: 32.2%;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 480px) {
	.col { margin: 1% 0 1% 0%;}
	.span_3_of_3, .span_2_of_3, .span_1_of_3 { width: 100%; }
}

/* Services
    -------------------------------------------------*/
.grid .text-content {
	padding-left: 35%;
}
.grid .text-content {
	display: block;
	padding-left: 19%;
	padding-right: 8%;
}

.grid .text-content h5 {
	font-weight: bold;
}
.grid .grid-item .item-content {
	display: block;
	outline: none;
	text-decoration: none;
	padding: 20px 0;
}
.item-content .fa {
	position: absolute;
	color: #646464;
	font-size: 4.5em;
	top: 36px;
}

#contactUs .container {
	margin-top: 30px;
}

#contactUs .btn {
	border-radius: 0px !important;
	background: rgba(0, 0, 0, 0.32);
}
.descrition {
	min-height: 90px;
	/*text-align: center;*/
    /*border-bottom: 1px solid #dadde2;*/
	padding: 5px 15px;
}

#services .container {
	margin-top: 30px;
}

#services h2, #aboutUs h2 {
	color: #fff;
}
/* --Portfolio----- */
#work, #glasses {
	background: #fff;
	color: #858585;
	padding-top: 50px;
}

i.fa.fa-angle-right, i.fa.fa-angle-left {
    color: #005f8d;
}

nav#filter {
	margin-bottom: 1.5em;
}
nav#filter li {
	display: inline-block;
	margin: 0 0 0 5px;
}
nav#filter a {
	padding: 4px 12px;
	line-height: 20px;
	border: 1px solid #005f8d;
	text-decoration: none;
}
.current {
	background: #005f8d;
	color: #fff;
}
.page-section.intro {
	min-height: 600px;
}
.btn {
	font-weight: 200;
}
.btn-dark {
	background: #444;
	color: #fff;
}
.btn-dark:hover {
	background: #000;
	color: #fff;
}
.back-to-top {
	display: inline-block;
	clear: both;
	background: #fff;
	color: #333;
	padding: 0 10px 5px;
	margin: 20px 0 0;
	text-shadow: none;
}
.back-to-top:hover {
	background: #333;
	color: #fff;
	text-decoration: none;
}
hr {
	border-color: #ddd;
}
body {
	margin: 0;
	font-family: Arial, sans-serif;
}
#navigation {
	position: fixed;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	width: 200px;
	background: #ffffff;
	box-shadow: 0 10px 10px -10px #000000;
}
#navigation > li {
	margin: 0;
	padding: 0;
	list-style: none;
}
#navigation > li > a {
	margin: 1px;
	color: #000000;
	background: #cccccc;
	display: block;
	padding: 5px;
	text-decoration: none;
	transition: all 400ms;
}
#navigation > li > a.current, #navigation > li:hover > a {
	background: #999999;
}
.pageSection {
	min-height: 600px;
	padding: 20px;
	background: #dddddd;
}
.pageSection:nth-child(odd) {
	background: #eeeeee;
}

footer {
	border-top: 1px solid #e5e5e5;
	padding: 45px 0;
	background: #fff;
}

.contact ul li {
	margin-bottom: 10px;
}
.contact ul li i {
	margin-right: 15px;
}
#appointment {
	padding-top: 50px;
}
/*Clients*/
.clients #owl-demo .item {
	background: none;
}
.clients .helper {
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}
.clients .helper img {
	vertical-align: middle;
	max-height: 70px;
	max-width: 80%;
}
.clients .helper:hover {
	cursor: e-resize;
}
.clients .customNavigation > a {
	font-size: 25px;
	cursor: pointer;
	margin: 0px 5px;
}
.portfolio-item img:hover {
	width: 110%;
	height: 110%;
}

@media (max-width: 768px) {
.hero-text {
	color: #000;
	width: 83%;
	text-align: center;
	margin: 27% auto 24px auto;
}
.hero-text h1 {
	font-size: 21px !important;
}
a.arrow-link {
	display: none;
}
.banner-container {
	background-size: contain;
}
.row .six {
	width: auto;
}
.da-slide h2 {
	font-size: 28px;
}
.banner-content p {
	font-size: 1.2em;
	text-shadow: none;
}
.hero-img {
	display: none;
}
.da-slide p {
	width: 67%;
	top: 122px;
}

.da-slider {
	height: 380px;
	width: 100%;
	min-width: initial;
	margin: 0px !important;
}
.header .navbar-nav > li > a {
	padding: 25px 12px;
}

.portfolio-item img {
	text-decoration: none;
	display: block;
	width: 330px;
	height: 228px;
	float: left;
	margin: 0 3px 3px 0;
	opacity: 1;
	-webkit-transform: scale(1, 1);
	-webkit-transition-timing-function: ease-out;
	-webkit-transition-duration: 250ms;
	-moz-transform: scale(1, 1);
	-moz-transition-timing-function: ease-out;
	-moz-transition-duration: 250ms;
}
.portfolio-item:hover .folio-info {
	top: 0px;
}
.portfolio-item .portfolio-desc .folio-info {
	padding: 0px;
}
.portfolio-item .portfolio-desc .folio-info h5 {
	font-size: 1em;
}
;
}

@media (max-width:760px) {
.header .navbar-nav > li > a {
	padding: 7px 12px;
	font-size: 14px;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
	border-color: #A8A8A8;
}
;
}

@media (max-width: 480px) {
.banner-container {
	background-size: contain;
}
.hero-text h1 {
	font-size: 17px !important;
}
.banner-container > img {
	width: 100%;
	height: 240px;
}
.responsive-headline {
	font-size: 16px !important
}
.hero-text {
	margin-top: 29%;
}
.navbar {
	min-height: 69px;
}
.arrow-link {
	display: none;
}
.da-slide h2 {
	font-size: 22px;
	top: 7px;
	text-shadow: none;
}
.da-slide p {
	width: 65%;
	top: 42px;
	height: 50px;
}
#section-top ul li a {
	height: 28px;
	line-height: 28px;
	width: 26px;
}
.page-section {
	padding: 0px;
}
.page-section h1 {
	font-size: 3em;
}
.page-section h2 {
	font-size: 2em;
}
.page-section p {
	font-size: 1em;
	margin: 0 0 20px;
}
.portfolio-item .portfolio-desc .folio-info h5 {
	font-size: 11px;
}
;
}

@media (max-width: 320px) {
.banner-container {
	background-size: contain;
}
.da-slider {
	height: 300px;
}
.da-slider {
	width: 100%;
	min-width: initial;
	position: relative;
	margin: 0 auto;
}
.da-dots {
	bottom: 2px;
}
.grid .text-content {
	padding-left: 29%;
	padding-right: 2%;
}
.portfolio-item:hover .folio-info {
	top: 0px;
}
.portfolio-item .portfolio-desc .folio-info h5 {
	text-transform: uppercase;
	text-align: center;
	font-weight: normal;
	font-size: 10px;
	margin: 10px 0 0 0;
}
nav#filter li {
	display: inline-block;
	margin: 0 0 23px 5px;
}
;
}
#owl-demo .item {
	background: #3fbf79;
	padding: 30px 0px;
	margin: 10px;
	color: #FFF;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	text-align: center;
}
.customNavigation {
	text-align: center;
}
.customNavigation a {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.contact-parlex {
	padding-top: 0px;
	background-image: url('../images/new-office.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
.parlex-back {
	padding: 30px 0;
	background-color: rgba(0, 95, 141, 0.84);
	color: #FDFDFD !important;
}
.parlex-back .heading p {
	color: #FDFDFD;
}
.services-parlex {
	padding-top: 75px;
	background-image: url('../images/new-office.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}


#clients {
	background: #fff;
}

hr {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

/* css for star rating system */

form .stars {
  background: url("../images/stars.png") repeat-x 0 0;
  width: 150px;
}

form .stars input[type="radio"] {
  position: absolute;
  opacity: 0;
  filter: alpha(opacity=0);
}
form .stars input[type="radio"].star-5:checked ~ span {
  width: 100%;
}
form .stars input[type="radio"].star-4:checked ~ span {
  width: 80%;
}
form .stars input[type="radio"].star-3:checked ~ span {
  width: 60%;
}
form .stars input[type="radio"].star-2:checked ~ span {
  width: 40%;
}
form .stars input[type="radio"].star-1:checked ~ span {
  width: 20%;
}
form .stars label {
  display: block;
  width: 30px;
  height: 30px;
  margin: 0!important;
  padding: 0!important;
  text-indent: -999em;
  float: left;
  position: relative;
  z-index: 10;
  background: transparent!important;
  cursor: pointer;
}
form .stars label:hover ~ span {
  background-position: 0 -30px;
}
form .stars label.star-5:hover ~ span {
  width: 100% !important;
}
form .stars label.star-4:hover ~ span {
  width: 80% !important;
}
form .stars label.star-3:hover ~ span {
  width: 60% !important;
}
form .stars label.star-2:hover ~ span {
  width: 40% !important;
}
form .stars label.star-1:hover ~ span {
  width: 20% !important;
}
form .stars span {
  display: block;
  width: 0;
  position: relative;
  top: 0;
  left: 0;
  height: 30px;
  background: url("../images/stars.png") repeat-x 0 -60px;
  -webkit-transition: -webkit-width 0.5s;
  -moz-transition: -moz-width 0.5s;
  -ms-transition: -ms-width 0.5s;
  -o-transition: -o-width 0.5s;
  transition: width 0.5s;
}

div.testimonialR{
	background: url("../images/bubbleR.png") no-repeat;
	background-size: 100% 100%;
	display: block;
	display: -moz-inline-stack;
	padding: 25px 40px 100px 40px;
	font-size: 18px;
	color: #fff;
	float: right;
	text-align: right;
}

div.testimonialL{
	background: url("../images/bubbleL.png") no-repeat;
	background-size: 100% 100%;
	display: block;
	display: -moz-inline-stack;
	padding: 25px 40px 100px 40px;
	font-size: 18px;
	color: #fff;
	float: left;
	text-align: left;
}

span.detail{
	font-size: 16px;
	color: #000;
	
}

/*style for reviews table*/
table.totals {
	background: #f5f5f5;
	border-collapse: separate;
	box-shadow: inset 0 1px 0 #fff;
	font-size: 14px;
	line-height: 24px;
	margin: 30px auto;
	text-align: center;
	width: 300px;
}

table.reviews {
	background: #f5f5f5;
	border-collapse: separate;
	box-shadow: inset 0 1px 0 #fff;
	font-size: 14px;
	line-height: 24px;
	margin: 30px auto;
	text-align: left;
	width: 80%;
}	


td.stars {
	text-align: right;
	border-right: 1px solid #fff;
	border-left: 1px solid #e8e8e8;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #e8e8e8;
	padding: 10px 15px;
	position: relative;
	transition: all 300ms;
	width: 120px;
}

td.name{
	text-align: left;
	border-right: 1px solid #fff;
	border-left: 1px solid #e8e8e8;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #e8e8e8;
	padding: 10px 15px;
	position: relative;
	transition: all 300ms;
}

td.date{
	text-align: right;
	border-right: 1px solid #fff;
	border-left: 1px solid #e8e8e8;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #e8e8e8;
	padding: 10px 15px;
	position: relative;
	transition: all 300ms;
	width: 120px;
}

td.comments{
	text-align: left;
	border-right: 1px solid #fff;
	border-left: 1px solid #e8e8e8;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #e8e8e8;
	padding: 10px 15px;
	position: relative;
	transition: all 300ms;
}

table.details{
	background: #f5f5f5;
	border-collapse: separate;
	box-shadow: inset 0 1px 0 #fff;
	font-size: 14px;
	line-height: 24px;
	margin: 30px auto;
	text-align: center;
	width: 500px;
	padding: 10px;
}
table.details td{
	padding: 5px;
}

.asterisk {
	color: red;
	font-size: 18px;
}

.myButton {
	background-color: #005f8d;
	border: 1px solid #fff;
	display: inline-block;
	cursor: pointer;
	color:#fff;
	font-family: Arial;
	font-size: 15px;
	padding: 11px 23px;
	text-decoration: none;
}
.myButton:hover {
	color:#000;
}

.carousel-content {
    color:black;
    display:block;
    align-items:center;
}

#text-carousel {
  width: 100%;
  height: auto;
  padding: 50px;
}

.carousel-content p {
    font-size: 1em;
    text-align: center;
}

.carousel-inner .item .active {
	margin: auto;	
}

.carousel-control.right, .carousel-control.left {
    background: none;
    font-size: 60px;
}

#testimonial-div {
    margin-left: auto;
    margin-right: auto;
    float: initial;
}

.fa-quote-left {
	margin-right: 10px;
}

.fa-quote-right {
	margin-left: 10px;
}

.grecaptcha-badge { opacity:0; }

.contact-form input, textarea {
    padding: 9px 14px 8px;
    margin: 0;
    text-decoration: none;
    font-size: 15px;
    line-height: 22px;
    font-weight: normal;
    color: #fff;
    background: transparent;
    outline: none;
    width: 100%;
    border: 1px solid #fff;
    -webkit-box-shadow: none;
    box-shadow: none;
    float: left;
    border-radius: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: 15px;
}

.inline {
    float: left;
    display: inline-flex;
    width: 100%;
    left: 0;
}

#contactUs input[type="checkbox"] {
	width: 15px;
	float: none;
	margin-right: 10px;
}

#contactUs input[type="submit"] {
    margin-top: 30px;
}

#contactUs a {
    color: white;
}

.contact-form input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #fff;
}

#contactUs table tr th, td {
	border: none !important;
}

.no-margin {
    margin: 0;
    padding: 0;
}

body#login_screen {
	background-color: #005f8d;
}

#login_screen form .login-fields input {
    background: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #399dbe;
    margin: 1em 0;
    color: #f6f6f6;
    font-size: 20px;
    width: 100%;
    font-family: "Lato";
    font-weight: normal;
    outline: none;
}

#login_screen #loginPage {
    max-width: 420px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 400px;
    width: 80%;
    margin: auto;
}

#login_screen .title {
    color: #f6f6f6;
    font-size: 20px;
    text-transform: lowercase;
    font-weight: normal;
    text-align: center;
}

#login_screen #error-message {
	color: red;
}


/*********************************
Added for quotes section
*********************************/
.quote-header {
    position: fixed;
    width: 100%;
    z-index: 50;
    border-radius: 0;
    top: 0px;
	background: #fff;
}

.quote-header .navbar {
	margin-bottom: 20px;
}

.full-width {
	width: 100%;
}

.pull-left {
	float: left;
	margin-left: 0px;
}

.down40 {
	margin-top: 40px;
}

.down60 {
	margin-top: 60px;
}

.input-group-btn .btn {
	background-color: #005f8d;
	color: #fff;
}

.alert-warning {
	font-size: 11px;
    padding: 5px;
}

.alert-danger {
	font-size: 11px;
    padding: 5px;
}

.input-group {
    text-align: center;
}

.input-number {
    width: 60px;
	padding: 5px;
	text-align: center;
}

select.full-width {
    padding: 8px;
}

.subtotal {
    font-size: 20px;
    margin-top: 3px;
    float: right;
}

.subtotal-negative {
    font-size: 20px;
    margin-top: 3px;
	float: right;
	color: red;
}

section.quote {
    font-size: 25px;
	font-weight: 700;
	margin-top: 20px;
}

.btn-save {
    color: #fff;
    background: #000;
}

input[type="checkbox"]:focus {
	outline: none;
}

/* The switch - the box around the slider */
.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
	margin-bottom: 20px;
}

/* Hide default HTML checkbox */
.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

/* The slider */
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
	border-radius: 34px;
}

.slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
	border-radius: 50%;
}

input:checked + .slider {
	background-color: #2196F3;
}

input:focus + .slider {
	box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}

section#banner {
    margin-top: 35px;
    margin-bottom: -60px;
}

section#banner h3 {
	margin-top: 50px;
}
